<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pherodev.killddl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".receivers.NotificationPublisher" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:name=".activities.CategoryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.pherodev.killddl.CategoryActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TasksActivity"
            android:label="@string/title_activity_tasks"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.pherodev.killddl.TasksActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TaskInputActivity"
            android:label="@string/title_activity_task_input"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.pherodev.killddl.TaskInputActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CategoryInputActivity"
            android:label="@string/title_activity_task_list_input"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>